html{
	height: 100%;
	margin: 0;
    padding: 0;
}
body{
	background-color: yellow;
}

/* This class can be assigned to an element so that no tecxt-highlting is possible on it. (to prevent accidental selections). */
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/******************************************************************
 *********************** OVERLAYS *********************************
 *****************************************************************/
/* Default styling for the main ximpel player element */
.ximpel{

}

/* The styling for the main overlay element */
.overlay{
	position: absolute;
	font-size: 2em;
	font-family: 'Arial';
	text-align: center;
	overflow: hidden;
}
.overlay:hover{
	cursor: pointer;
}
.overlay:hover div{
	opacity: 0.8;
}
/* Styling the element that functions as the background for the main overlay element (=a div child of main overlay element).
 * The reason there is a seperate element for defining the background is to get background opacity working properly without needing 
 * rgba() because with rgba with need the rgb values which are a hassle to compute for hex and color names. */
.overlay div{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
}
/* Styling the span containing the text of the overlay. */
.overlay span{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: inline-block;
	color: white;
	font-weight: bold;
}
/* For oval overlays we set the border-radius to 50% of the main overlay element and all its children. */
.overlayOval, .overlayOval *{
	border-radius: 50%;
}
